@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.colores {
    color: #787777;
    color: #FFFFFF;
    color: #F1E9DB;
    color: #5DB7DE;
    color: #C7C5C5;
    color: #257C88;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.5;
}

header {
    background-color:#787777;
}

ul {
    display: flex;
    list-style: none;
    padding: 10px 10px 10px 20px;
    margin: 20;
}

/* NAVBAR TOP */

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 90px 0;
}

.nav-link{
    color: #C7C5C5;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: #C7C5C5;
}

.nav-menu-top-item{
    font-size: 16px;
}

.nav-menu-link{
    padding: 6px 10px;
    border-radius: 7px;
    transition: .7s;
}

.nav-menu-link:hover{
    background-color:darkcyan;
}

#ticket{
    color: green;
}

/* MAIN TOP */

.containertop{
    background-image: url(ba1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    padding: 475px 0;
}
